<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <bean name="id_generator" class = "one.shirokova.online_shop.id_generator.SequenceGenerator">
    </bean>

    <bean name="user_dao" class="one.shirokova.online_shop.user.dao.UserDaoImpl">
        <constructor-arg index="0" ref="id_generator"/>
    </bean>

    <bean name="user_service" class="one.shirokova.online_shop.user.UserServiceImpl">
        <constructor-arg index="0" ref="user_dao"/>
    </bean>

    <bean name="item_dao" class="one.shirokova.online_shop.item.dao.ItemDaoImpl">
        <constructor-arg index="0" ref="id_generator"/>
    </bean>

    <bean name="item_service" class="one.shirokova.online_shop.item.ItemServiceImpl">
        <constructor-arg index="0" ref="item_dao"/>
    </bean>

    <bean name="bag_dao" class="one.shirokova.online_shop.bag.dao.BagDaoImpl">
        <constructor-arg index="0" ref="id_generator"/>
    </bean>

    <bean name="bag_service" class="one.shirokova.online_shop.bag.BagServiceImpl">
        <constructor-arg index="0" ref="bag_dao"/>
    </bean>

</beans>